<head>
    <link rel="stylesheet" href="/public/css/navbar.css">
</head>
<div id="nav-wrapper">
    <div class="mobile-nav-container">
        <ul class="mobile-nav-list">
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'index' ? ' btn-active' : '' %>" data-redirect="/">b&w</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn btn-color<%= activePage === 'color' ? ' btn-active' : '' %>"
                        data-redirect="/color">color</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn"
                        data-redirect="https://form.jotform.com/232376224013042">booking</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn"
                        data-redirect="https://form.jotform.com/232375315849059">waitlist</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'events' ? ' btn-active' : '' %>"
                        data-redirect="/events">events</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'shop' ? ' btn-active' : '' %>"
                        data-redirect="/shop">shop</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'contact' ? ' btn-active' : '' %>"
                        data-redirect="/contact">contact</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
        </ul>
    </div>
    <div id="nav-logo" class="nav-container">
        <div class="nav-logo">

            <a href="/"><img class="logo" src="public/assets/global/logo.png"></a>

            <h1 class="jumpy">
                <span class="letter">t</span>
                <span class="letter">h</span>
                <span class="letter">e</span>
                <span class="letter"> </span>
                <span class="letter">n</span>
                <span class="letter">e</span>
                <span class="letter">i</span>
                <span class="letter">g</span>
                <span class="letter">h</span>
                <span class="letter">b</span>
                <span class="letter">o</span>
                <span class="letter">r</span>
                <span class="letter">h</span>
                <span class="letter">o</span>
                <span class="letter">o</span>
                <span class="letter">d</span>
                <span class="letter"> </span>
                <span class="letter">c</span>
                <span class="letter">a</span>
                <span class="letter">t</span>
            </h1>
        </div>
        <div id="mobile-burger-container">
            <i id="burger" class="ri-menu-line ri-2x"></i>

        </div>
    </div>

    <div class="nav-container">
        <ul class="nav-list">
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'index' ? ' btn-active' : '' %>" data-redirect="/">b&w</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn btn-color<%= activePage === 'color' ? ' btn-active' : '' %>"
                        data-redirect="/color">color</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn"
                        data-redirect="https://form.jotform.com/232376224013042">booking</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn"
                        data-redirect="https://form.jotform.com/232375315849059">waitlist</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'events' ? ' btn-active' : '' %>"
                        data-redirect="/events">events</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'shop' ? ' btn-active' : '' %>"
                        data-redirect="/shop">shop</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
            <li class="nav-list-item">
                <div class="btn-contain">
                    <button class="btn<%= activePage === 'contact' ? ' btn-active' : '' %>"
                        data-redirect="/contact">contact</button>
                    <div class="btn-particles"></div>
                </div>
            </li>
        </ul>
    </div>
</div>